<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>0C8B4CF2-63A1-4F22-8C66-208A7ED1B714</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9AD60706-C389-4BC5-9ADE-08661E7B9F83</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>52E29BF5-7C4C-4A68-B573-8036E61B92D2</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>open in query</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5235B416-66AF-420A-B9EB-76156D2DF6BE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>08CDF7D0-6E98-4748-995B-C822EA0E3A62</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>F2D07989-4DFE-4791-AE7B-D7E1306D6462</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>DA544092-7475-4CFA-B051-CA53E811D804</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6F7BB1C9-4226-4052-9215-20360AADC1C1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5235B416-66AF-420A-B9EB-76156D2DF6BE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>DA544092-7475-4CFA-B051-CA53E811D804</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>query</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>84F27AFE-7CD6-4A70-8F3E-A4ECF497B888</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F43E11F2-D825-46B4-876A-75450A22752D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>047410F1-29DE-499A-ADAD-04EDD6C50229</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Open In Search</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9AD60706-C389-4BC5-9ADE-08661E7B9F83</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EC687312-5BBB-4C9B-AE06-2C406DDB04C1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>F2D07989-4DFE-4791-AE7B-D7E1306D6462</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>52E29BF5-7C4C-4A68-B573-8036E61B92D2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F43E11F2-D825-46B4-876A-75450A22752D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>61724D26-F550-4A7E-A020-9373CBBCFF3B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>CA527B95-6EE0-415F-96FE-4F15F03F28CA</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>047410F1-29DE-499A-ADAD-04EDD6C50229</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Brandt Lareau</string>
	<key>description</key>
	<string>Use keyword "rails" to search API docs</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Ruby &amp; Rails API Docs</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string>+</string>
				<key>url</key>
				<string>{var:url}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>EC687312-5BBB-4C9B-AE06-2C406DDB04C1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:url}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>\S</string>
						<key>outputlabel</key>
						<string>found</string>
						<key>uid</key>
						<string>F2D07989-4DFE-4791-AE7B-D7E1306D6462</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>missing</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>9AD60706-C389-4BC5-9ADE-08661E7B9F83</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string>+</string>
				<key>url</key>
				<string>https://api.rubyonrails.org/?q={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>52E29BF5-7C4C-4A68-B573-8036E61B92D2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>rails</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Preloading Rails Versions for the first time this might take a while</string>
				<key>script</key>
				<string>require './config'
require './rails_search_doc'
require './rails_versions'
require 'securerandom'

query = ARGV[0].to_s
rails_versions = RailsVersions.new(query)

items = []
rails_versions.results.each do |version|
  responses = RailsSearchDoc.new(version, query).results
  items += responses.map do |response|
    {
      uid: SecureRandom.uuid,
      type: 'default',
      arg: query,
      subtitle: response.description,
      title: response.title,
    autocomplete: response.title,
      variables: {
        url: response.url,
        version: version
      }
    }.compact
  end
  if items.empty?
    items += [
      {
        uid: query,
        type: 'default',
        arg: query,
        subtitle: 'No results found',
        title: query,
        autocomplete: query,
        variables: {
          url: nil,
          version: version
        }
      }
    ]
  end
end

print({ items: items }.to_json)</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Search Rails Docs</string>
				<key>type</key>
				<integer>2</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>0C8B4CF2-63A1-4F22-8C66-208A7ED1B714</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string>+</string>
				<key>url</key>
				<string>https://rubyapi.org{var:path}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>08CDF7D0-6E98-4748-995B-C822EA0E3A62</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:path}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>\S</string>
						<key>outputlabel</key>
						<string>found</string>
						<key>uid</key>
						<string>F2D07989-4DFE-4791-AE7B-D7E1306D6462</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>missing</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>5235B416-66AF-420A-B9EB-76156D2DF6BE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>ruby</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>require './config'
require './gql/ruby_api'
query = ARGV[0].to_s

version = Config.version_names.find { |v| query.include?("v#{v}") || query.include?("V#{v}") } || Config.default_ruby_version
query = query.gsub("v#{version}", '').gsub("V#{version}", '').strip
response = Gql::RubyApi.new(version, query).request
autocomplete = response.parsed_body.dig('data', 'autocomplete') || []
items = autocomplete.map do |result|
  {
    uid: result['path'],
    type: 'default',
    arg: result['path'],
    subtitle: "view #{result['path']}",
    title: result['text'],
    autocomplete: result['text'],
    variables: {
      path: result['path'],
      version: version
    }
  }
end
if items.empty?
  items = [
    {
      uid: query,
      type: 'default',
      arg: query,
      subtitle: 'No results found',
      title: query,
      autocomplete: query,
      variables: {
        path: nil,
        version: version
      }
    }
  ]
end


print({ items: items }.to_json)
					</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Search For ruby code on Ruby API</string>
				<key>type</key>
				<integer>2</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>6F7BB1C9-4226-4052-9215-20360AADC1C1</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string>+</string>
				<key>url</key>
				<string>https://rubyapi.org/{var:version}/o/s?q={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>DA544092-7475-4CFA-B051-CA53E811D804</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string>+</string>
				<key>url</key>
				<string>https://rubygems.org/gems/{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>61724D26-F550-4A7E-A020-9373CBBCFF3B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:gem_exists}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>1</integer>
						<key>matchstring</key>
						<string>0</string>
						<key>outputlabel</key>
						<string>found</string>
						<key>uid</key>
						<string>CA527B95-6EE0-415F-96FE-4F15F03F28CA</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>missing</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>F43E11F2-D825-46B4-876A-75450A22752D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>gem</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>require './autocomplete_gem'
query = ARGV[0].to_s

return print({ items: [] }.to_json) if query == ''


items = JSON.parse(AutocompleteGem.get(query).body).map do |result|
  {
    uid: result,
    type: 'default',
    arg: result,
    subtitle: "view rubygems.org/gems/#{result}",
    title: result,
    autocomplete: result,
    variables: {
      gem_exists: true
    }
  }
end
if items.empty?
  items = [
    {
      uid: query,
      type: 'default',
      arg: query,
      subtitle: 'No results found',
      title: query,
      autocomplete: query,
      variables: {
        gem_exists: false
      }
    }
  ]
end
print({ items: items }.to_json)
					</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Search For Gem in rubygems.org</string>
				<key>type</key>
				<integer>2</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>84F27AFE-7CD6-4A70-8F3E-A4ECF497B888</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string>+</string>
				<key>url</key>
				<string>https://rubygems.org/search?query={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>047410F1-29DE-499A-ADAD-04EDD6C50229</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Quick tool for search ruby docs for info.</string>
	<key>uidata</key>
	<dict>
		<key>047410F1-29DE-499A-ADAD-04EDD6C50229</key>
		<dict>
			<key>xpos</key>
			<integer>340</integer>
			<key>ypos</key>
			<integer>625</integer>
		</dict>
		<key>08CDF7D0-6E98-4748-995B-C822EA0E3A62</key>
		<dict>
			<key>xpos</key>
			<integer>340</integer>
			<key>ypos</key>
			<integer>250</integer>
		</dict>
		<key>0C8B4CF2-63A1-4F22-8C66-208A7ED1B714</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>125</integer>
		</dict>
		<key>5235B416-66AF-420A-B9EB-76156D2DF6BE</key>
		<dict>
			<key>xpos</key>
			<integer>225</integer>
			<key>ypos</key>
			<integer>330</integer>
		</dict>
		<key>52E29BF5-7C4C-4A68-B573-8036E61B92D2</key>
		<dict>
			<key>xpos</key>
			<integer>340</integer>
			<key>ypos</key>
			<integer>125</integer>
		</dict>
		<key>61724D26-F550-4A7E-A020-9373CBBCFF3B</key>
		<dict>
			<key>xpos</key>
			<integer>340</integer>
			<key>ypos</key>
			<integer>505</integer>
		</dict>
		<key>6F7BB1C9-4226-4052-9215-20360AADC1C1</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>370</integer>
		</dict>
		<key>84F27AFE-7CD6-4A70-8F3E-A4ECF497B888</key>
		<dict>
			<key>xpos</key>
			<integer>55</integer>
			<key>ypos</key>
			<integer>625</integer>
		</dict>
		<key>9AD60706-C389-4BC5-9ADE-08661E7B9F83</key>
		<dict>
			<key>xpos</key>
			<integer>215</integer>
			<key>ypos</key>
			<integer>85</integer>
		</dict>
		<key>DA544092-7475-4CFA-B051-CA53E811D804</key>
		<dict>
			<key>xpos</key>
			<integer>345</integer>
			<key>ypos</key>
			<integer>370</integer>
		</dict>
		<key>EC687312-5BBB-4C9B-AE06-2C406DDB04C1</key>
		<dict>
			<key>xpos</key>
			<integer>340</integer>
			<key>ypos</key>
			<integer>15</integer>
		</dict>
		<key>F43E11F2-D825-46B4-876A-75450A22752D</key>
		<dict>
			<key>xpos</key>
			<integer>220</integer>
			<key>ypos</key>
			<integer>580</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>2.4</string>
	<key>webaddress</key>
	<string>https://github.com/brand-it/alfred-workflow-ruby-and-rails-docs</string>
</dict>
</plist>
